
<div class="container pick-up-line">

<form class="create-form" >

    <div class="form-group">

        <label for="pick-up-line">Add a Pick-Up Line!!</label>
        <input type="text"  id="pick-up-line" class="form-control" name="pick-up" placeholder="Do you believe in love at first swipe?">
    </div>

    <button type="submit" class="btn btn-primary"> Add it! </button>
</form>

</div>


<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Random</h5>
          <p>
            <strong>ID</strong>: {{random.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{random.text}}</p>
          <p>
           
           
        </div>
      </div>
    </div>
  </div>
</div>
